#table{border-right-width:2; border-right-style:groove; border-right-color:#0099CC}
TD {
	FONT-FAMILY: 宋体,arial,verdana,; FONT-SIZE: 12px; LINE-HEIGHT: 160%
}
TR {
	FONT-FAMILY: 宋体,arial,verdana,; FONT-SIZE: 12px; LINE-HEIGHT: 160%
}
P {
	FONT-FAMILY: 宋体,arial,verdana,; FONT-SIZE: 12px; LINE-HEIGHT: 160%
}
A:link {
	COLOR: #000000; FONT-FAMILY: "宋体", "arial", "verdana",; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-FAMILY: "宋体", "arial", "verdana",; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; FONT-FAMILY: "宋体", "arial", "verdana",; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; FONT-FAMILY: "宋体", "arial", "verdana",; TEXT-DECORATION: none
}
A.leftnav:link {
	COLOR: #000000; FONT-FAMILY: 宋体,arial,verdana,; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.leftnav:visited {
	COLOR: #000000; FONT-FAMILY: 宋体,arial,verdana,; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.leftnav:active {
	COLOR: #336699; FONT-FAMILY: 宋体,arial,verdana,; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.leftnav:hover {
	COLOR: #ff8800; FONT-FAMILY: "宋体", "arial", "verdana",; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a1:link {
	COLOR: #000000; FONT-FAMILY: "arial", "宋体", "verdana",; TEXT-DECORATION: none
}
.a1:visited {
	COLOR: #000000; FONT-FAMILY: "arial", "宋体", "verdana",; TEXT-DECORATION: none
}
.a1:hover {
	COLOR: #ff6600; FONT-FAMILY: "arial", "宋体", "verdana",; TEXT-DECORATION: none
}
.name {
	COLOR: #777777; FONT-FAMILY: verdana,arial; FONT-SIZE: 12px
}
.more {
	TEXT-DECORATION: underline
}
.menu_list {
	COLOR: #666699; FONT-FAMILY: verdana,arial; FONT-SIZE: 12px
}
.title {
	COLOR: #fefefe
}
.copyright {
	BACKGROUND-REPEAT: no-repeat; COLOR: #eeeeee; FONT-FAMILY: "verdana", "arial"; FONT-SIZE: 7pt
}
.power {
	COLOR: #333333; FONT-FAMILY: "verdana", "arial"; FONT-SIZE: 7pt; TEXT-DECORATION: blink
}
.input1 {
	BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; COLOR: black; FONT-SIZE: 12px
}
