td.default a:link, td.default2 a:link {
    color: #000000;
    text-decoration: none;
}
td.default a:visited, td.default2 a:visited {
    color: #000000;
    text-decoration: none;
}
td.default a:hover, td.defaul2t a:hover {
    color: #FF6600;
    text-decoration: none;
}
td.default a:active, td.default2 a:active {
    color: #FF6600;
    text-decoration: none;
}
td.selected a:link, td.selected2 a:link {
    color: #FF6600;
    text-decoration: none;
}
td.selected a:visited, td.selected2 a:visited {
    color: #FF6600;
    text-decoration: none;
}
td.selected a:hover, td.selected2 a:hover {
    color: #FF6600;
    text-decoration: none;
}
td.selected a:active, td.selected2 a:active {
    color: #FF6600;
    text-decoration: none;
}
.border01 {
    background-color: #FFFFFF;
    border: 1px solid #B8BFCC;
}
.title01 {
    background-color: #E6E8EC;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 14px;
    text-indent: 2px;
}
td.default {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    height: 18px;
    text-indent: 12px;

}
.default2 {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    height: 18px;
    text-indent: 2px;
}
td.selected {
    background-color: #FFFFFF;
    color: #FF6600;
    font-family: Arial;
    font-size: 12px;
    height: 18px;
    text-indent: 12px;
}
.selected2 {
    background-color: #FFFFFF;
    color: #FF6600;
    font-family: Arial;
    font-size: 12px;
    height: 18px;
    padding-left: 0;
    text-indent: 2px;
}
.leftpadding {
    margin: 0;
    padding-left: 5px;
}
.leftpadding2 {
    margin: 0 0 0 5px;
}
.space01 {
    padding: 5px 0 0;
}
input.text1 {
    border: 1px solid #7F9DB9;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    height: 21px;
    text-decoration: none;
}
.nopermission {
    color: #A8ABA4;
    font-family: " Arial";
    font-size: 11px;
    font-weight: normal;
}
