<!DOCTYPE html>

<html>
<head>
<title>CNU课件交流系统 - 首页</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<frameset rows="48,*" frameborder="NO" border="0" framespacing="0">
  <frame src="/welcome/top" name="topFrame" scrolling="NO" noresize frameborder="NO" border="0" framespacing="0">

	<frameset cols="150,8,*" border="0" framespacing="0" frameborder="0" id="op_frame">
		<frame scrolling="Auto" noresize="" framespacing="0" border="0" frameborder="NO" name="menuFrame" src="/welcome/menu"></frame>
		<frame scrolling="no" framespacing="0" border="0" frameborder="NO" noresize="" name="barFrame" src="/welcome/xi"></frame>
		<frame scrolling="Auto" framespacing="0" border="0" frameborder="NO" name="mainFrame" src="<%=@main%>"></frame>
	</frameset>

</frameset>

<noframes><body>
您的浏览器不支持框架
</body></noframes>


</html>

