<div id='mediaspace'>请安装Flash播放器</div>

<script type='text/javascript'>
  jwplayer('mediaspace').setup({
    'flashplayer': '/jwplayer/player.swf',
    'file': '/assets/get/<%=@asset.id%>/thefile.flv?inline=1',
    'controlbar': 'bottom',
    'width': '100%',
    'height': '450'
  });
</script>



