<table width="100%" cellspacing="0" cellpadding="0" border="0" class="fieldsettop">
    <tbody><tr> 
        <td>  
               

<!-- user information -->
 
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr class="infoBg2"> 
<td class="infoBg1">&nbsp;</td>
<td><table cellspacing="0" cellpadding="0" border="0">
<tbody><tr> 
<td class="legend">技术问题</td>
</tr>
</tbody></table></td>
<td class="infoBg3">&nbsp;</td>
</tr>
<tr> 
<td class="infoBg4">&nbsp;</td>
<td>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop3">
						<tbody><tr> 
							<td>
								<table cellspacing="0" cellpadding="0" border="0" id="tblView">
									
									<tbody><tr>
								 
								
<td>
<p>　　如果您在使用CNU课件交流系统的过程中遇到任何困难，例如注册失败、无法登录、遭遇BUG等，请务必毫不犹豫得拨打技术支援热线，或发邮件到以下地址，我们一定第一时间为您解决问题！此邮箱每天查阅。</p>
<p>
　　<b>技术支援热线</b>: 15901080866<br>
　　<b>电子信箱</b>: pmq2001 (at) gmail.com<br>
</p>
</td>
								
						        
										</tr>
										<tr>
											<td height="3"></td>
										</tr>

								</tbody></table>			
							</td>
						</tr>
					</tbody></table>
</td>
<td class="infoBg5">&nbsp;</td>
</tr>
<tr class="infoBg2"> 
<td class="infoBg6">&nbsp;</td>
<td class="infoBg2">&nbsp;</td>
<td class="infoBg8">&nbsp;</td>
</tr>
</tbody></table>

               <!-- user information -->
 
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr class="infoBg2"> 
<td class="infoBg1">&nbsp;</td>
<td><table cellspacing="0" cellpadding="0" border="0">
<tbody><tr> 
<td class="legend">管理问题</td>
</tr>
</tbody></table></td>
<td class="infoBg3">&nbsp;</td>
</tr>
<tr> 
<td class="infoBg4">&nbsp;</td>
<td>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop3">
						<tbody><tr> 
							<td>
								<table cellspacing="0" cellpadding="0" border="0" id="tblView">
									
									<tbody><tr>
								 
								
<td>
<p>
<p>　　如果您认为某个课件应当删除，或出现恶意评论需要清理，或对管理员的管理操作表示不满，请拨打以下电话。</p>
　　<b>联系电话</b>: 15210716626<br>
</p>
</td>
								
						        
										</tr>
										<tr>
											<td height="3"></td>
										</tr>

								</tbody></table>			
							</td>
						</tr>
					</tbody></table>
</td>
<td class="infoBg5">&nbsp;</td>
</tr>
<tr class="infoBg2"> 
<td class="infoBg6">&nbsp;</td>
<td class="infoBg2">&nbsp;</td>
<td class="infoBg8">&nbsp;</td>
</tr>
</tbody></table>
               <!-- user information -->
 
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr class="infoBg2"> 
<td class="infoBg1">&nbsp;</td>
<td><table cellspacing="0" cellpadding="0" border="0">
<tbody><tr> 
<td class="legend">战略合作</td>
</tr>
</tbody></table></td>
<td class="infoBg3">&nbsp;</td>
</tr>
<tr> 
<td class="infoBg4">&nbsp;</td>
<td>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop3">
						<tbody><tr> 
							<td>
								<table cellspacing="0" cellpadding="0" border="0" id="tblView">
									
									<tbody><tr>
								 
								
<td>
<p>
　　<b>联系电话</b>: 13552452455<br>
</p>
</td>
								
						        
										</tr>
										<tr>
											<td height="3"></td>
										</tr>

								</tbody></table>			
							</td>
						</tr>
					</tbody></table>
</td>
<td class="infoBg5">&nbsp;</td>
</tr>
<tr class="infoBg2"> 
<td class="infoBg6">&nbsp;</td>
<td class="infoBg2">&nbsp;</td>
<td class="infoBg8">&nbsp;</td>
</tr>
</tbody></table>
 
</td>
</tr>
</tbody></table>
