<style>
ol{
padding-left:25px;
}
li{
padding-top:20px;
}
</style>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="fieldsettop">
    <tbody><tr> 
        <td>  
<table width="99%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody><tr> 
    <td class="infoBg1">&nbsp;</td>
    <td class="infoBg2"><table cellspacing="0" cellpadding="0" border="0">
        <tbody><tr> 
          <td class="legend">问与答</td>
        </tr>
      </tbody></table></td>
    <td class="infoBg3">&nbsp;</td>
  </tr>
  <tr> 
    <td class="infoBg4">&nbsp;</td>
    <td>

	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop3">
		<tbody><tr>
			
			<td valign="top"> 
				<ol>
				<li id="li_1" style="padding-top:0">“学院图标”是怎么分配的？ [ <a href="javascript:history.go(-1)">Back</a> ]</li>
				<div style="padding-left:10px">
				　　在课件列表的用户信息栏中，我们用标志代替文字显示用户所属的学院。我们为首师大最主要的十二大学院每院分配了一个十二生肖图案，但是当然咯，首都师大不只十二个学院，那么剩下的学院怎么办呢？分配一个星座图标吧...<br>




<table cellspacing="1" cellpadding="0" border="0" class="displayTag" id="user" style="margin-top:5px;float:left">
						<thead>
							<tr>

								<th align="center" class="sortable">
									学院
								</th>
								<th align="center" class="sortable">
									图标
								</th>
								
								<th align="center" class="sortable">
									什么动物?
								</th>
								
							</tr>
						</thead>
						
						<tbody>
						<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">政法学院</td>
							<td align="center"><img src="/images/ins_icon/sx9s.gif"></td><td align="center">猴</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">文学院</td>
							<td align="center"><img src="/images/ins_icon/sx10s.gif"></td><td align="center">鸡</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">历史学院</td>
							<td align="center"><img src="/images/ins_icon/sx7s.gif"></td><td align="center">马</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">资源环境与旅游学院</td>
							<td align="center"><img src="/images/ins_icon/sx1s.gif"></td><td align="center">鼠</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">生命科学学院</td>
							<td align="center"><img src="/images/ins_icon/sx12s.gif"></td><td align="center">猪</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">数学科学学院</td>
							<td align="center"><img src="/images/ins_icon/sx5s.gif"></td><td align="center">龙</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">物理系</td>
							<td align="center"><img src="/images/ins_icon/sx6s.gif"></td><td align="center">蛇</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">化学系</td>
							<td align="center"><img src="/images/ins_icon/sx3s.gif"></td><td align="center">虎</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">音乐学院</td>
							<td align="center"><img src="/images/ins_icon/sx8s.gif"></td><td align="center">羊</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">美术学院</td>
							<td align="center"><img src="/images/ins_icon/sx4s.gif"></td><td align="center">兔</td>
												</tr>	<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">信息工程学院</td>
							<td align="center"><img src="/images/ins_icon/sx2s.gif"></td><td align="center">牛</td>
												</tr>				<tr class="even" onmouseout="this.className='even';" onmouseover="this.className='evenfocus';">
							<td align="center">外语学院</td>
							<td align="center"><img src="/images/ins_icon/sx11s.gif"></td><td align="center">狗</td>
												</tr>												
							
							
	
					</tbody></table>
<table cellspacing="1" cellpadding="0" border="0" class="displayTag" id="user" style="margin-top:5px;margin-left:10px;float:left">
						<thead>
							<tr>

								<th align="center" class="sortable">
									其他学院
								</th>
								<th align="center" class="sortable">
									图标
								</th>
								
							</tr>
						</thead>
						<tbody>
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">教育技术系</td>
							<td align="center"><img src="/images/ins_icon/z1.gif"></td>
												</tr>					
											
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">高等美术教育中心</td>
							<td align="center"><img src="/images/ins_icon/z6.gif"></td>
												</tr>					
											
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">青年教育艺术研究所</td>
							<td align="center"><img src="/images/ins_icon/z7.gif"></td>
												</tr>					
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">教育学院</td>
							<td align="center"><img src="/images/ins_icon/z2.gif"></td>
												</tr>					
											
											
											
											
											
											
											
											
											
											
											
											
											
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">书法文化研究院</td>
							<td align="center"><img src="/images/ins_icon/z9.gif"></td>
												</tr>					
											
											
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">马克思主义教育学院</td>
							<td align="center"><img src="/images/ins_icon/z3.gif"></td>
												</tr>					
											
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">初等教育学院</td>
							<td align="center"><img src="/images/ins_icon/z4.gif"></td>
												</tr>					
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">教育科学学院性健康教育中心</td>
							<td align="center"><img src="/images/ins_icon/z8.gif"></td>
												</tr>					
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">管理学院</td>
							<td align="center"><img src="/images/ins_icon/z5.gif"></td>
												</tr>					
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">首都基础教育发展研究院</td>
							<td align="center"><img src="/images/ins_icon/z11.gif"></td>
												</tr>					
											
											
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">良乡基础教学部</td>
							<td align="center"><img src="/images/ins_icon/z10.gif"></td>
												</tr>					
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">非全日制本科单位</td>
							<td align="center"><img src="/images/ins_icon/z12.gif"></td>
												</tr>					
							
	
					</tbody>
						</table>


				<br style="clear:both">

				</div>
				<li id="li_2">用户等级是怎么划分的？ [ <a href="javascript:history.go(-1)">Back</a> ]</li>
				<div style="padding-left:10px">
				<p>　　等级划分见下表，注意系统计算的是所上传课件的被购买次数，例如我共上传了3个课件，分别被购买了5次、6次、7次，那么我的“销量”值为5+6+7=18。所以如若上传的课件人气高，即便什么事情都不做都可以自动升级哦~</p>
				<p style="color:red">注意：已透支用户的购买行为不计入销量</p>
				<table cellspacing="1" cellpadding="0" border="0" class="displayTag" id="user" style="margin-top:5px;float:left">
						<thead>
							<tr>

								<th align="center" class="sortable">
									等级
								</th>
								<th align="center" class="sortable">
									头衔
								</th>
								<th align="center" class="sortable">
									图标
								</th>
								<th align="center" class="sortable">
									升级所需销量
								</th>								
							</tr>
						</thead>
						<tbody>
						<%11.times do |i|%>
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center"><%=i%></td>
							<td align="center"><%=User::LEVELNAME[i]%></td>
							<td align="center"><img src="/images/pips<%=i%>.gif"></td>
							<td><%=User::LEVELRequirement[i]%></td>
							</tr>
						<%end%>
					</tbody>
						</table>

				<br style="clear:both">
				</div>
				<li id="li_3">积分是怎样流通的？ [ <a href="javascript:history.go(-1)">Back</a> ]</li>
				<div style="padding-left:10px">
				<p>　　下表穷举了积分在本系统内的全部流通方式。没错，一共就四种流通方法！但是需要注意的是，第一项只有通过了身份验证才能获得。第二项是可回溯的，即若用户上传的课件因为质量原因被删除，系统将追回12积分。第三项则不可回溯，因为系统没有退货功能 XD</p>
				<table cellspacing="1" cellpadding="0" border="0" class="displayTag" id="user" style="margin-top:5px;float:left">
						<thead>
							<tr>

								<th align="center" class="sortable">
									源头
								</th>
								<th align="center" class="sortable">
									终点
								</th>
								<th align="center" class="sortable">
									方式
								</th>								
								<th align="center" class="sortable">
									变动情况
								</th>
							</tr>
						</thead>
						<tbody>

						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">凭空产生</td>
							<td align="center">用户</td>
							<td align="center">用户注册获得初始积分</td>
							<td align="center"> 用户 <span style="color:red">8.0↗</span> </td>
						</tr>
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">凭空产生</td>
							<td align="center">用户</td>
							<td align="center">用户发布新课件获得积分奖励</td>
							<td align="center"> 用户 <span style="color:red">4.0↗</span> </td>
						</tr>
						

						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">用户A</td>
							<td align="center">用户B</td>
							<td align="center">用户A购买了用户B发布的价格为x的课件</td>
							<td align="center">用户A <span style="color:green">x↘</span>；用户B <span style="color:red">0.8*x↗</span> </td>
						</tr>
						
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">凭空产生</td>
							<td align="center">用户</td>
							<td align="center">用户点击领取积分领取当日积分</td>
							<td align="center"> 用户 <span style="color:red">3.0↗</span> </td>
						</tr>

					</tbody>
						</table>

				<br style="clear:both">
				</div>
				<li id="li_4">身份验证是怎么回事？ [ <a href="javascript:history.go(-1)">Back</a> ]</li>
				<div style="padding-left:10px">
				<p>　　因为我们的服务器在首师大校内，我们可以方便的与选课系统通信。强烈建议您在注册时填写您的首师大选课系统密码，这样系统可以自动连接到选课系统读取您感兴趣的课程（即您选修过的课程），加入我的课程列表方便您的浏览。</p>
				<p>　　另外的好处就是，如果您使用了真实的选课系统密码，我们可以知道您的身份是确信无疑的。因此我们可以信任您的行为，您在上传课件时无须等待审核。同时为了防止刷分，也只有通过身份认证的用户可以获得初始积分。</p>
				<p>　　即便注册时没有用选课系统密码也没有关系，注册后您可以在“我的资料”中修改密码，修改成选课系统密码后也可以通过身份验证。CNU课件交流系统承诺不会在数据库或日志文件中存储密码明文，也不会修改您的选课系统内容，请放心使用。</p>
				</div>
				<li id="li_5">为什么允许透支？ [ <a href="javascript:history.go(-1)">Back</a> ]</li>
				<div style="padding-left:10px">
				<p>　　我们设置积分机制主要是为了鼓励大家上传分享课件资源，因为如果没有上传就没有下载，也就没有资源的共享。可是，我们也不希望让积分成为阻碍资源的分享和流通的路障，因此我们决定允许积分透支。已透支的用户会在积分后面显示如下的描述坏帐程度的文字。</p>
				<table cellspacing="1" cellpadding="0" border="0" class="displayTag" id="user" style="margin-top:5px;float:left">
						<thead>
							<tr>

								<th align="center" class="sortable">
									坏帐程度
								</th>
								<th align="center" class="sortable">
									坏帐称谓
								</th>
							</tr>
						</thead>
						<tbody>

						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center"> &gt; 0</td>
							<td align="center">正常</td>
						</tr>
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">-10 ～ 0</td>
							<td align="center">已透支</td>
						</tr>
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">-50 ～ -10</td>
							<td align="center">严重透支</td>
						</tr>
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center">-100 ～ -50</td>
							<td align="center">濒临破产</td>
						</tr>
						<tr onmouseover="this.className='evenfocus';" onmouseout="this.className='even';" class="even">
							<td align="center"> &lt; -100</td>
							<td align="center">引发经济危机</td>
						</tr>

					</tbody>
						</table>
						<br style="clear:both">
				</div>
				<li id="li_6">神马是自定义页面? [ <a href="javascript:history.go(-1)">Back</a> ]</li>
				<div style="padding-left:10px">
				<p>　　您在下载区首页输入课程名时，如果输入的课程名不存在就会被问是否建立新的页面。如此通过用户手动建立的课程页称为自定义页面。只有通过了身份认证的用户可以建立自定义页面，一旦建立，这个页面就是属于您的咯。自定义页面是丰富课件交流系统内容的重要机制，它所包含的内容不局限于简单的课程资源，很可能还包含其他各种有意义的资源。</p>
				</div>

				<li id="li_tips">给点Tips吧！ [ <a href="javascript:history.go(-1)">Back</a> ]</li>
				<div style="padding-left:10px">
				<p><b>Tip 1</b>. 对于文件列表中显示的文件，点击图标和点击文件名的效果是不一样的。点击图标总是提示下载，点击文件名有可能立即显示文件内容（如显示图片、在浏览器内显示PDF内容等）。</p>
				<p><b>Tip 2</b>. 有些资源的电子版不易得到，如作业、往年试卷等，这时其实可以直接用手机拍下来然后发表图片。</p>
				<p><b>Tip 3</b>. 文件过多是上传压缩包也是不错的选择，本系统会自动显示压缩包的内容。</p>
				<p><b>Tip 4</b>. 上传flv格式视频可获在线播放功能，所以推荐您上传视频时事先转换为flv哦～</p>
				</div>

				</ol>
			</td>
		</tr>
	</tbody></table>
	</td>
    <td class="infoBg5">&nbsp;</td>
  </tr>
  <tr> 
    <td class="infoBg6">&nbsp;</td>
    <td class="infoBg2">&nbsp;</td>
    <td class="infoBg8">&nbsp;</td>
  </tr>
</tbody></table>               

<!-- user information -->
 


               
 
</td>
</tr>
</tbody></table>
