<style>
ol{
padding-left:20px;
}
li{
margin-top:15px;
}
</style>
<table width="100%" cellspacing="0" cellpadding="0" border="0" class="fieldsettop">
    <tbody><tr> 
        <td>  
<table width="99%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody><tr> 
    <td class="infoBg1">&nbsp;</td>
    <td class="infoBg2"><table cellspacing="0" cellpadding="0" border="0">
        <tbody><tr> 
          <td class="legend">开发团队</td>
        </tr>
      </tbody></table></td>
    <td class="infoBg3">&nbsp;</td>
  </tr>
  <tr> 
    <td class="infoBg4">&nbsp;</td>
    <td>

	<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop3">
		<tbody><tr>
			
			<td valign="top"> 
			
			
			<table cellspacing="1" cellpadding="0" border="0" style="margin-top:5px;float:left;width:32%;margin-right:1%;margin-left:1%" id="user" class="displayTag">
						<thead>
							<tr>

								<th style="text-align:left" class="sortable" colspan="3">
									程序开发
								</th>
							</tr>
						</thead>
						
						<tbody>
						<tr class="even">
							<td align="center" rowspan="5" style="padding-top:5px"><%=image_tag 'panminqi2.jpg'%><br><p style="font-weight:bold;margin-top:-5px">潘旻琦</p></td>
							<td style="text-align:left;vertical-align:top;width:100%;background-color:#FFF">
								<div style="min-height:180px">
							　　潘旻琦同学主要负责CNU课件交流系统的实际代码的编写、维护、部署工作。<br>
							　　潘旻琦同学设计了系统的整体架构，编写了前后台脚本，通过Ruby on Rails开发框架在两周内敏捷地完成了系统的开发。
								</div>
							</td>
						</tr>
			</tbody></table>
					

			<table cellspacing="1" cellpadding="0" border="0" style="margin-top:5px;float:left;width:32%;margin-right:1%" id="user" class="displayTag">
						<thead>
							<tr>

								<th style="text-align:left" class="sortable" colspan="3">
									宣传推广
								</th>
							</tr>
						</thead>
						
						<tbody>
						<tr class="even">
							<td align="center" rowspan="5" style="padding-top:5px"><%=image_tag 'xuke2.jpg'%><br><p style="font-weight:bold;margin-top:-5px">许可</p></td>
							<td style="text-align:left;vertical-align:top;width:100%;">
																<div style="min-height:180px">
							　　许可同学主要负责CNU课件交流系统的宣传和推广工作，以使更多人了解这个系统。<br>
							　　许可同学为课件交流系统设计了若干宣传方案，主演了课件交流系统第一个宣传电影，制作了书法宣传海报。
							</div>
							</td>
						</tr>
			</tbody></table>

			<table cellspacing="1" cellpadding="0" border="0" style="margin-top:5px;float:left;width:32%;" id="user" class="displayTag">
						<thead>
							<tr>

								<th style="text-align:left" class="sortable" colspan="3">
									资料管理
								</th>
							</tr>
						</thead>
						
						<tbody>
						<tr class="even">
							<td align="center" rowspan="5" style="padding-top:5px"><%=image_tag 'zhangjiayu2.jpg'%><br><p style="font-weight:bold;margin-top:-5px">张家雨</p></td>
							<td style="text-align:left;vertical-align:top;width:100%">
																<div style="min-height:180px">
							　　张家雨同学主要负责系统的资料搜集和后台管理工作。<br>
							　　张家雨同学联络各学院的同学分享课件，为系统设计了初期上传刺激方案，提高了课件资源的丰富度。同时通过后台管理把众多课件资源整理得井井有条。
							</div>
							</td>
						</tr>
			</tbody></table>
					

			</td>
		</tr>
	</tbody></table>
	</td>
    <td class="infoBg5">&nbsp;</td>
  </tr>
  <tr> 
    <td class="infoBg6">&nbsp;</td>
    <td class="infoBg2">&nbsp;</td>
    <td class="infoBg8">&nbsp;</td>
  </tr>
</tbody></table>               

<!-- user information -->
 
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr class="infoBg2"> 
<td class="infoBg1">&nbsp;</td>
<td><table cellspacing="0" cellpadding="0" border="0">
<tbody><tr> 
<td class="legend">致谢</td>
</tr>
</tbody></table></td>
<td class="infoBg3">&nbsp;</td>
</tr>
<tr> 
<td class="infoBg4">&nbsp;</td>
<td>

<table width="100%" cellspacing="0" cellpadding="0" border="0" class="titleTop3">
						<tbody><tr> 
							<td>
								<table cellspacing="0" cellpadding="0" border="0" id="tblView">
									
									<tbody><tr>
								 
								
<td>
<p>
　　在开发过程中，我们得到了许多人的帮助，可以说没有他们的帮助就没有CNU课件交流系统的建成。<br>
　　感谢北京科技大学的<b>刘理博</b>同学与我们分享课件系统这一想法，他开发的<a href="http://kejian.ibeike.com/" target="blank">iBeiKe课件共享系统</a>给予CNU课件交流系统的设计以巨大的启发。<br>
　　感谢<b>黄湘灏</b>老师为我们提供服务器支持，没有您的帮助CNU课件交流系统将永远无法从理想变为现实。<br>
　　感谢<b>叶文锐</b>同学为我们提供数学科学学院方面丰富的初期资料。<br>
　　感谢<b>邵俊博</b>同学与我们深入探讨课件系统的运营模式问题。<br>
　　感谢<b>王翊</b>同学为我们就网站积分机制问题所提的改进建议。<br>
　　感谢<b>蒙江北</b>同学导演了宣传片<a href="/coursewares/61">The Movie - "CNU Kejian"</a>。<br>
</p>
</td>
								
						        
										</tr>
										<tr>
											<td height="3"></td>
										</tr>

								</tbody></table>			
							</td>
						</tr>
					</tbody></table>
</td>
<td class="infoBg5">&nbsp;</td>
</tr>
<tr class="infoBg2"> 
<td class="infoBg6">&nbsp;</td>
<td class="infoBg2">&nbsp;</td>
<td class="infoBg8">&nbsp;</td>
</tr>
</tbody></table>

               
 
</td>
</tr>
</tbody></table>
